{% extends "final/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'final/activities.js' %}"></script>
{% endblock %}

{% block body %}
    <h1  style="text-align: center;">Colours!</h1>
    <br/>
    <div id="body" >
        <div class="text-center mx-auto justify-content-center" id='form'>
            <input class="form-control col-md-3" autofocus type="number" step="any" id="no_of_qs" min='1' max='20' placeholder="How many questions do you want? (less than or equal to 20)" required>
            <br/>
            <input type="submit" Value="Let's begin!" class="btn btn-outline-secondary " onclick="colours('{{ user.id }}')" style="margin-left: 0.2cm;">
        </div>
    </div>
{% endblock %}
